.iframe-container {
	display: flex;
	width: 100%;
	height: 100%;
}

.test-iframe {
	border: 2px solid black;
	width: 100%;
}

h2 {
	padding-left: 0.5rem;
	display: flex;
	justify-content: space-between;
	margin: 1% 2%;
}

form {
	border: 1px solid black;
	border-radius: var(--bs-border-radius-lg);
	padding: 0.5rem;
	padding-bottom: 1rem;
	font-size: 1.25rem;
}

.flex-parent {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 80%;
}

fieldset {
	border: 1px solid black;
	border-radius: var(--bs-border-radius-lg);
	padding: 0.5rem;
	margin-bottom: 1rem;
}
